.searchBox {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    margin-bottom: 40px;
}
.label {
    font-style: italic;
    font-size: 16px;
    font-weight: 200;
    color: var(--icon-color);
}

.field {
    background-color: inherit;
    padding-left: 16px;
    padding-right: 16px;
    height: 40px;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -0.02em;
    color: var(--grey-text-color);
    border: none;
    border-bottom: 1px solid var(--clr-charl-green);
    outline: none;
  }