.searchBox {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    margin-bottom: 40px;
    align-items: start;
}
.label {
    font-style: italic;
    font-size: 16px;
    font-weight: 200;
    color: var(--icon-color);
}

.search {
    background-color: inherit;
    width: 300px;
    height: 30px;
    border-radius: 8px;
    border: 0.8px solid var(--input-border-color);
}